:root {
  --primary: teal;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: monospace;
}
header {
  background: black;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
header a {
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto));
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.character-details {
  /* height: 70vh; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto)); */
  width: 30%;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  margin: 20px 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.character-details h4 {
  font-weight: bolder;
  margin: 0 0 10px 0;
  font-size: 1+.2em;
  color: var(--primary);
}
.character-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.character-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.character-img {
  padding: 5px;
  display: block;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  /* border: 2px solid #ddd; */
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.create {
  margin: 20px 30px;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: monospace;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover{
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.24),
              0 11px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: teal;
}

form button:active{
  /* box-shadow: 0 5px rgb(0, 174, 255); */
  transform: translateY(4px);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

@media only screen and (max-width: 600px) {

  .home {
    flex-wrap: wrap;
    gap: 20px
  }

  .character-details {
    width: 75%;
  }

  .create {
    width: 75%;
    height: fit-content;
  }

  header {
    justify-content: space-between;
    font-size: 1rem;
    padding: 0 10px;
  }

  .character-details {
    display: block;
    height: auto;
  }
}


